<div>
    <span ng-if="myInfoCtrl.user === null">Not Signed Up Yet. <span ui-sref="public.sign-up">Sign up Now!</span></span>
    <div ng-if="myInfoCtrl.user !== null">
        <div>First Name: {{myInfoCtrl.user.firstName}}</div>
        <div>Last Name: {{myInfoCtrl.user.lastName}}</div>
        <div>Email: {{myInfoCtrl.user.email}}</div>
        <div>Phone Number: {{myInfoCtrl.user.phoneNum}}</div>
        <div>Favorite Dish: {{myInfoCtrl.dish.name}}</div>
        <image ng-src="https://raymondthornley.herokuapp.com/images/{{myInfoCtrl.user.favDish}}.jpg"></image>
        <div>Description: {{myInfoCtrl.dish.description}}</div>
    </div>
</div>